@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/*
font-family: 'Space Mono', monospace;
*/

/*Reset all default padding and margins*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
    max-width: 1440px;
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

[placeholder = "0"] {
    font-family: 'Space Mono', monospace;
}

.logo-container {
    margin-bottom: 30px;
}

.calculator {
    background-color: white;
    box-shadow: 3px 3px 8px 0px darkgray;
    padding: 1rem 2rem;
    display: flex;
    border-radius: 15px;
    max-width: 550px;
}

.buttons-forms {
    width: 50%;
}

.label-bill-amount {
    margin-top: 10px;
    display: block;
    margin-bottom: 5px;
    font-size: 0.7rem;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    display: flex;
    justify-content: space-between;
    padding-right: 27px;
}

.bill-amount {
    border-radius: 6px;
    width: 90%;
    height: 30px;
    background-color: hsl(189, 41%, 97%);
    border: none;
    background-image: url("Assets/icon-dollar.svg");
    background-position: left 9px center;
    background-repeat: no-repeat;
    padding: 5px 9px 5px 28px;
    text-align: right;
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
}

.p-element {
    color: hsl(183, 100%, 15%);
    font-size: 0.5rem;
    word-spacing: 2px;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    padding-right: 27px;
}

#zero-people  {
    color: red;
    display: none;
}

#zero-people.display {
    display: inline;
}

#zero-bill {
    color: red;
    display: none;
    font-size: 0.5rem;
}

#zero-bill.display {
    display: inline;
}

.grid-container {
    padding-right: 23px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 9px;
    height: 60px;
    margin-bottom: 25px;
}

.dark-blue-btn {
    background-color:hsl(183, 100%, 15%);
    color: white;
    border-radius: 5px;
    border: none;
    font-family: 'Space Mono', monospace;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dark-blue-btn:hover {
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
    font-weight: 700;
}

.deep-cyan-btn {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border-radius: 5px;
    border: none;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.deep-cyan-btn:hover {
    color: hsl(189, 41%, 97%);
    background-color: hsl(183, 100%, 15%);
}

.light-cyan-btn {
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    border-radius: 5px;
    border: none;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    cursor: pointer;
}

.people-text {
    font-size: 0.7rem;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    margin-bottom: 5px;
}

#custom-input {
    width: 58px;
    border-radius: 5px;
    height: 25px;
    border: none;
    background-color:hsl(189, 41%, 97%);
    text-align: center;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    color: hsl(183, 100%, 15%);
    text-align: right;
    padding: 0px 5px;
}

.people-number {
    border-radius: 6px;
    width: 90%;
    height: 30px;
    background-color: hsl(189, 41%, 97%);
    border: none;
    background-image: url("Assets/icon-person.svg");
    background-position: left 9px center;
    background-repeat: no-repeat;
    padding: 5px 9px 5px 28px;
    text-align: right;
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}




.display-results {
    width: 50%;
    border-radius: 20px;
    background-color: hsl(183, 100%, 15%);
    margin: 10px 0px;
    padding: 30px 20px;
}

.tip-amount {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
    align-items: center;
}

.tip-amount p:nth-of-type(1) {
    color: white;
    font-size: 9px;
}

.tip-amount p:nth-of-type(2) {
    font-size: 22px;
}

#tip-result {
    font-size: 25px;
}

.total {
    display: flex;
    margin-bottom: 62px;
    justify-content: space-between;
    align-items: center;
}

.total p:nth-of-type(1) {
    color: white;
    font-size: 9px;
}

.total p:nth-of-type(2) {
    font-size: 22px;
}

#total-result {
    font-size: 25px;
}

#reset-btn {
    border: none;
    color: hsl(183, 100%, 15%);
    background-color:hsl(172, 67%, 45%);
    width: 100%;
    height: 30px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#reset-btn:hover {
    background-color: hsl(189, 41%, 97%)
}

.green-text {
    color: hsl(185, 41%, 84%)
}


/*To remove the arrows in the custom input fields*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.result-field {
    width: 60%;
    display: inline-flex;
    justify-content: flex-start;
    overflow-x: scroll;
}

.result-field::-webkit-scrollbar {
    height: 3px;
}

.result-field::-webkit-scrollbar-track {
    background: hsl(183, 100%, 15%);
}

.result-field::-webkit-scrollbar-thumb {
    background: hsl(172, 67%, 45%);
    border-radius: 5px;
}

/*
Media Queries
*/
@media only screen and (max-width: 650px) {
    main {
        display: block;
        padding-top: 30px;
    }

    .logo-container {
        width: 100vw;
        text-align: center;
    }

    .calculator {
        flex-direction: column;
        max-width: none;
    }

    .buttons-forms {
        width: 100%;
    }

    .display-results {
        width: 100%;
    }
}